In [1]:
# Import libraries
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import altair as alt
import altair_saver

In [2]:
os.chdir('C://Users/pmarshal/Documents')
os.getcwd()

'C:\\Users\\pmarshal\\Documents'

In [3]:
data = pd.read_csv('Annual_YVR_Temp.csv', parse_dates=['date']) 
data['year'] = pd.DatetimeIndex(data['date']).year
data['month'] = pd.DatetimeIndex(data['date']).month
data.head()

        date  year  temp  precip  month
0 1935-01-01  1935  8.98     NaN      1
1 1936-01-01  1936  9.18     NaN      1
2 1937-01-01  1937  8.82  1049.0      1
3 1938-01-01  1938  9.41   855.0      1
4 1939-01-01  1939  9.73  1080.0      1

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    90 non-null     datetime64[ns]
 1   year    90 non-null     int64
 2   temp    90 non-null     float64
 3   precip  88 non-null     float64
 4   month   90 non-null     int64
dtypes: datetime64[ns](1), float64(2), int64(2)
memory usage: 3.6 KB

In [5]:
precip_sort = data.sort_values("precip")
precip_sort.tail(11)

         date  year   temp  precip  month
89 2024-01-01  2024  10.74  1367.0      1
26 1961-01-01  1961   9.66  1367.0      1
64 1999-01-01  1999   9.62  1394.0      1
45 1980-01-01  1980   9.29  1419.0      1
49 1984-01-01  1984   9.10  1422.0      1
46 1981-01-01  1981   9.94  1459.0      1
61 1996-01-01  1996   9.27  1463.0      1
48 1983-01-01  1983   9.85  1490.0      1
62 1997-01-01  1997  10.15  1522.0      1
0  1935-01-01  1935   8.98     NaN      1
1  1936-01-01  1936   9.18     NaN      1

In [6]:
month_min_precip = data.groupby('month')['total_precip'].min().reset_index().round(2)
month_min_precip

KeyError: 'Column not found: total_precip'

In [11]:
month_max_precip = data.groupby('month')['total_precip'].max().reset_index().round(2)
month_max_precip

    month  total_precip
0       1         281.8
1       2         277.1
2       3         240.0
3       4         172.3
4       5         144.0
5       6         135.8
6       7          89.6
7       8         170.0
8       9         143.5
9      10         287.5
10     11         350.8
11     12         300.2

In [17]:
jan_precip = data.loc[data['month'] == 1]
jan_precip.tail(35)

      datetime  year  month  total_precip
336 1965-01-01  1965      1         191.3
348 1966-01-01  1966      1         160.0
360 1967-01-01  1967      1         228.3
372 1968-01-01  1968      1         217.9
384 1969-01-01  1969      1         126.7
396 1970-01-01  1970      1         116.1
408 1971-01-01  1971      1         210.3
420 1972-01-01  1972      1          77.2
432 1973-01-01  1973      1         150.4
444 1974-01-01  1974      1         179.1
456 1975-01-01  1975      1         172.7
468 1976-01-01  1976      1         178.8
480 1977-01-01  1977      1          86.9
492 1978-01-01  1978      1         125.5
504 1979-01-01  1979      1          57.6
516 1980-01-01  1980      1          83.8
528 1981-01-01  1981      1          71.7
540 1982-01-01  1982      1         238.5
552 1983-01-01  1983      1         172.3
564 1984-01-01  1984      1         223.9
576 1985-01-01  1985      1          28.2
588 1986-01-01  1986      1         207.8
600 1987-01-01  1987      1         147.0
612 1988-01-01  1988      1          93.6
624 1989-01-01  1989      1         148.2
636 1990-01-01  1990      1         192.6
648 1991-01-01  1991      1         156.8
660 1992-01-01  1992      1         281.8
672 1993-01-01  1993      1         103.4
684 1994-01-01  1994      1         112.5
696 1995-01-01  1995      1         164.4
708 1996-01-01  1996      1         160.4
720 1997-01-01  1997      1         241.3
732 1998-01-01  1998      1         166.7
744 1999-01-01  1999      1         222.7

In [45]:
years = list(data['year'][::5])

pc_bar = alt.Chart(data).mark_bar().encode(
    x=alt.X('year:O', title=None),
    y=alt.Y('precip:Q', title='Precipitation (mm)', axis=alt.Axis(values=years, labelAngle=-90, grid=False)),
    color=alt.Color('precip:Q', scale=alt.Scale(scheme='viridis', reverse=True), legend=None),
    tooltip=[alt.Tooltip('year:O', title="Year"), alt.Tooltip('precip:Q', title="Precip")]
).properties(width=800, title='Total Annual Precipitation - Vancouver International Airport')
pc_bar

alt.Chart(...)